<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org"
  th:replace="~{fragments/layout :: layout (~{::body},'pets')}">
  
  <body>

    <h2>Pets</h2>

    <table id="pets" class="table table-striped">
        <thead>
          <tr>
            <th style="width: 150px;">Name</th>
            <th style="width: 200px;">DateOfBirth</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="pet : ${pets.petList}">
            <td th:text="${pet.name}"></td>
            <td th:text="${pet.birthDate}"></td>
          </tr>
        </tbody>
    </table>

  </body>
</html>
